# Core functionality - changes here should be rare!
/src/app.py                   @codemedic1424
/src/backend/database.py      @codemedic1424
/src/backend/routers/auth.py  @codemedic1424

# The frontend will need refactored soon to be more object oriented.
/src/static/   @codemedic1424
